.page {
  display: flex;
  gap: 20px;
}

.my-missions {
  flex-basis: 50%;
}

.my-rockets {
  flex-basis: 50%;
}

.my-missions h2,
.my-rockets h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  border-collapse: collapse;
  border: 2px solid var(--black-1);
  padding: 15px;
  border-bottom: none;
}

h3:nth-last-of-type(1) {
  border-bottom: 2px solid var(--black-1);
}
