div {
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.rocketInfo {
  align-items: center;
  justify-content: space-between;
}

.rocketImg {
  width: 30%;
}

img {
  max-width: 250px;
  max-height: 250px;
}

.details {
  width: 70%;
  padding: 5px 10px;
  justify-content: center;
}

.res {
  justify-content: center;
  align-items: center;
}

#reserved {
  width: fit-content;
  padding: 3px;
  height:15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: var(--green);
  color: var(--white);
}

.details button {
  width: 20%;
  height: 2rem;
  background-color: var(--light-blue);
  color: var(--white);
  border: 0;
  border-radius: 3px;
}
