header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px groove var(--black-2);
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-title img {
  width: 50px;
  height: 50px;
}

.logo-title h1 {
  color: var(--black);
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-item {
  padding: 0 15px 0 15px;
  color: var(--purple);
  text-decoration: none;
  font-size: 18px;
}

.menu-item.active {
  text-decoration: underline;
}

.menu-list li:last-child {
  border-left: 1px solid var(--black);
}
