:root {
  --black: #212121;
  --black-1: #707580;
  --black-2: #dadada;
  --purple: #4d17ff;
  --green: #0099b6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding-left: 40px;
  padding-right: 40px;
}

.contained {
  padding: 20px;
}
